@import "./variables";
@import "mixins/mixins";

#root {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $background;
}

#sidebar,
.collapsing-sidebar {
  width: 18rem;
  background-color: white;
  overflow-y: auto;
  height: 100vh;
  flex: 0 0 auto;
}

#sidebar {
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
  position: relative;

  @include layer("sidebar");

  > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e3e3e3;
    line-height: 1;
  }

  nav {
    flex: 1;
    overflow: auto;
    padding-top: 1rem;

    .active i {
      color: inherit;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      white-space: pre;
      padding: 0.5rem;
      border-radius: 8px;
      color: inherit;
      text-decoration: none;
      gap: 1rem;

      &:hover {
        background: #e3e3e3;
      }

      &.active {
        background: $accent;
        color: white;
      }

      &.pending {
        color: $accent;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin: 0.25rem 0;
    }
  }

  i {
    color: #818181;
  }
}

#detail {
  flex: 1;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  .loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
  }
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

.collapsing-sidebar {
  box-shadow: 2px 0 8px rgba(10, 20, 50, 0.2);
}

.page-panel {
  padding: 2rem 4rem;
}
